body {
  margin: 0;
}

.page {
  /*background: rgba(209,174,134,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(209,174,134,1) 0%, rgba(209,174,134,1) 49%, rgba(181,150,114,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(209,174,134,1)), color-stop(49%, rgba(209,174,134,1)), color-stop(100%, rgba(181,150,114,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(209,174,134,1) 0%, rgba(209,174,134,1) 49%, rgba(181,150,114,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(209,174,134,1) 0%, rgba(209,174,134,1) 49%, rgba(181,150,114,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(209,174,134,1) 0%, rgba(209,174,134,1) 49%, rgba(181,150,114,1) 100%);
    background: radial-gradient(ellipse at center, rgba(209,174,134,1) 0%, rgba(209,174,134,1) 49%, rgba(181,150,114,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1ae86', endColorstr='#b59672', GradientType=1 );
    */
  background: #AA8D6D;
  background: radial-gradient(ellipse at center, #AA8D6D, #856D53);
  background-color: #958676;
  background-image: url("../img/concrete-wall.png");
  background-image: url("../img/concrete-wall.png"), radial-gradient(ellipse at center, #b9a48e, #9d8974);
  background-image: url("../img/concrete-wall.png"), -webkit-radial-gradient(center, #b9a48e, #9d8974);
}

.nolan {
  width: 20%;
  height: 25%;
  top: -25%;
  left: 1%;
  position: relative;
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
}

@media (max-aspect-ratio: 1 / 1) {
  .nolan {
    width: 35%;
    height: 5%;
    top: -5%;
    left: 2%;
  }
}

.darken {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.1);
  pointer-events: none;
}

.back-btn-container {
  position: absolute;
  top: 90%;
  height: 10%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.back-btn {
  width: 5%;
  padding-top: 5%;
  border-radius: 50%;
  background-color: rgba(189, 170, 0, 0);
  border: 1px solid black;
}

.chevron {
  margin-top: -1.25%;
  width: 2.5%;
  height: 0px;
  padding-top: 2.5%;
  border-top: 1px solid #eee;
  border-right: 1px solid #eee;
  -webkit-transition: 0.3s all cubic-bezier(1, 0.25, 0.25, 0.8);
  transition: 0.3s all cubic-bezier(1, 0.25, 0.25, 0.8);
  will-change: transform;
}

.chevron.down {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.chevron.up {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media (max-aspect-ratio: 1 / 1) {
  .chevron {
    width: 7%;
    padding-top: 7%;
    border-top: 5px solid #eee;
    border-right: 5px solid #eee;
  }
}
/*# sourceMappingURL=general.css.map */