$tapeThicc: 40px;
$tapeMobileThicc: 3%;
$tapeColor: rgba(222, 220, 198, 0.95);

.gridWall {
    width: 90%; 
    height:100%; 
    margin: 0% 5% 0% 5%;
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-evenly;
    align-content: center;
}

.gridWall .paper {
    margin: 2% 5%;
    width:15%; 
    height: 0px; 
    padding-top: 15%;
}



.gridWall .paper::before {
    content: "";
    display: block;
    position: absolute;
    left: 30%;
    top: -6%;
    width: 80px;
    height: $tapeThicc;
    background-color: $tapeColor;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);

    background-image: url("/img/dust.png"); 

    @media (max-aspect-ratio: 1/1){
        top: 1%;
        left: 80%;
        width: 30%;
        height: $tapeMobileThicc;
    }
}