
.grid {
    font-size: 0.75rem;
    line-height: 1rem;
    color: #333;
    margin: 2% 0% 2% 0%;
    width: auto;
    text-indent: 2rem;
    
    @media (max-aspect-ratio: 1/1){
        margin: 1% 2% 1% 2%;
    }
}

//Grid sizer controls column width
.grid-sizer,
.grid-item { 
    width: 10%; 
}

.grid-item {

}

.grid-item--width2 { 
    width: 50%; 
}
