
.grid {
    font-size: 0.75rem;
    line-height: 1rem;
    color: #333;
    margin: 2% 0% 2% 0%;
    width: auto;
    text-indent: 2rem;
    
    @media (max-aspect-ratio: 1/1){
        margin: 1% 2% 1% 2%;
        font-size: 0.85rem;
    }
}

//Grid sizer controls column width
.grid-sizer,
.grid-item { 
    width: 10%; 
}

.grid-item-2 {
    width: 20%;
}

.grid-item-3 {
    width: 30%;
}

.grid-item-4 {
    width: 40%;
}

.mobile-4 {
    @media (max-aspect-ratio: 1/1){
        width: 40%;
    }
}

.grid-item-5 { 
    width: 50%; 
}

.mobile-5 {
    @media (max-aspect-ratio: 1/1){
        width: 50%;
    }
}
.grid-item-6 { 
    width: 60%; 
}

.mobile-6 {
    @media (max-aspect-ratio: 1/1){
        width: 60%;
    }
}

.mobile-10 {
    @media (max-aspect-ratio: 1/1){
        width: 100%;
    }
}