/*$cardWidth: 250px;
$cardHeight: 290px;*/
figure,
figcaption {
  display: block;
  text-transform: uppercase;
}

#polaroid {
  width: 100%;
  overflow: hidden;
}

#polaroid figure {
  float: left;
  position: relative;
  width: 14%;
  height: 0;
  margin: 50px 20px;
  padding: 6px 8px 10px 8px;
  padding-bottom: calc(17% + 10px);
  -webkit-box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, 0.75);
  background: #eee6d8;
  background: -webkit-gradient(linear, left top, left bottom, from(#ede1c9), color-stop(20%, #fef8e2), color-stop(60%, #f2ebde));
  background: linear-gradient(top, #ede1c9, #fef8e2 20%, #f2ebde 60%);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-backface-visibility: hidden;
  /*prevent rotated text being jagged in Chrome and Safari*/
}

@media (max-aspect-ratio: 1 / 1) {
  #polaroid figure {
    width: 35%;
    padding-bottom: 42%;
  }
}

#polaroid figure:hover {
  -webkit-box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.05);
          box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.05);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#polaroid figure:nth-child(1) {
  top: -5%;
  -webkit-transform: rotate(3deg);
  transform: rotate(3deg);
  -webkit-backface-visibility: hidden;
  /*prevent rotated text being jagged in Chrome and Safari*/
  -webkit-box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, 0.75);
  box-shadow: -4px 4px 8px -4px rgba(0, 0, 0, 0.75);
}

#polaroid figure:nth-child(1):before {
  content: "";
  display: block;
  position: absolute;
  left: 50px;
  top: -15px;
  width: 75px;
  height: 25px;
  background-color: rgba(222, 220, 198, 0.85);
  -webkit-transform: rotate(-1deg);
  -moz-transform: rotate(-1deg);
  -o-transform: rotate(-1deg);
  -ms-transform: rotate(-1deg);
}

#polaroid figure:nth-child(1):hover {
  -webkit-box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.05);
          box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.05);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#polaroid figure:nth-child(2) {
  top: 0%;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-backface-visibility: hidden;
  /*prevent rotated text being jagged in Chrome and Safari*/
  -webkit-box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, 0.75);
  box-shadow: -4px 4px 8px -4px rgba(0, 0, 0, 0.75);
}

#polaroid figure:nth-child(2):before {
  content: "";
  display: block;
  position: absolute;
  left: 200px;
  top: 0px;
  width: 100px;
  height: 25px;
  background-color: rgba(222, 220, 198, 0.85);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}

#polaroid figure:nth-child(2):hover {
  -webkit-box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.05);
          box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.05);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#polaroid figure:nth-child(3) {
  top: 1%;
  -webkit-transform: rotate(8deg);
  transform: rotate(8deg);
  -webkit-backface-visibility: hidden;
  /*prevent rotated text being jagged in Chrome and Safari*/
  -webkit-box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, 0.75);
  box-shadow: -4px 4px 8px -4px rgba(0, 0, 0, 0.75);
}

#polaroid figure:nth-child(3):before {
  content: "";
  display: block;
  position: absolute;
  left: -20px;
  top: 0px;
  width: 160px;
  height: 25px;
  background-color: rgba(222, 220, 198, 0.85);
  -webkit-transform: rotate(-22deg);
  -moz-transform: rotate(-22deg);
  -o-transform: rotate(-22deg);
  -ms-transform: rotate(-22deg);
}

#polaroid figure:nth-child(3):hover {
  -webkit-box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.05);
          box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.05);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#polaroid figure:nth-child(4) {
  top: -2%;
  -webkit-transform: rotate(-2deg);
  transform: rotate(-2deg);
  -webkit-backface-visibility: hidden;
  /*prevent rotated text being jagged in Chrome and Safari*/
  -webkit-box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, 0.75);
  box-shadow: -4px 4px 8px -4px rgba(0, 0, 0, 0.75);
}

#polaroid figure:nth-child(4):before {
  content: "";
  display: block;
  position: absolute;
  left: 100px;
  top: 15px;
  width: 75px;
  height: 25px;
  background-color: rgba(222, 220, 198, 0.85);
  -webkit-transform: rotate(12deg);
  -moz-transform: rotate(12deg);
  -o-transform: rotate(12deg);
  -ms-transform: rotate(12deg);
}

#polaroid figure:nth-child(4):hover {
  -webkit-box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.05);
          box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.05);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#polaroid figcaption {
  text-align: left;
  font-family: "Open Sans", sans-serif;
  font-size: 0.8em;
  margin: 10px 0 0 10px;
  height: 30px;
  font-weight: bolder;
  color: #454f40;
  letter-spacing: 0.09em;
}

#polaroid figure {
  -pie-background: linear-gradient(#ede1c9, #fef8e2 20%, #f2ebde 60%);
  behavior: url(assets/pie/PIE.htc);
  position: relative;
  padding-top: 10px\9;
  padding-right: 10px\9;
}

#polaroid figure .img {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 0px;
  padding-bottom: 100%;
}

.polaroid-container {
  margin: 0% 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 80%;
  height: 100%;
}
/*# sourceMappingURL=polaroid.css.map */