/*$cardWidth: 250px;
$cardHeight: 290px;*/
$cardWidth: 14%;
$cardHeight: 17%;
$mobileCardWidth: 35%;
$mobileCardHeight: 42%;

$tapeThicc: 10%;
$tapeColor: rgba(222, 220, 198, 0.95);

$cardRotations: 3deg, 0deg, 8deg, -2deg, 1deg;
$cardTop: -5%, -7%, 1%, -2%, 4%;
$tapeLeft: 30%, 75%, -15%, 35%, 30%;
$tapeTop: -5%, 0px, 0px, -8%, -5%;
$tapeRotation: -1deg, 45deg, -22deg, 90deg, 10deg;
$tapeWidth: 30%, 40%, 63%, 32%, 40%;

$tape2Left: 30%, -15%, 70%, 35%, 30%;
$tape2Top: -5%, 0px, 92%, -8%, -5%;
$tape2Rotation: -1deg, -40deg, -35deg, 90deg, 10deg;
$tape2Width: 0%, 40%, 50%, 0%, 0%;

figure,
figcaption {
  display: block;
  text-transform: uppercase;
}
#polaroid {
  width: 100%;
  overflow: hidden;
}
#polaroid figure {
  float: left;
  position: relative;
  width: $cardWidth;
  //height: $cardHeight;
  height: 0;
  margin: 50px 20px;
  padding: 6px 8px 10px 8px;
  padding-bottom: calc(#{$cardHeight} + 10px);
  -webkit-box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, 0.75);
  background: #eee6d8;
  background: -webkit-linear-gradient(top, #ede1c9, #fef8e2 20%, #f2ebde 60%);
  background: -moz-linear-gradient(top, #ede1c9, #fef8e2 20%, #f2ebde 60%);
  background: -o-linear-gradient(top, #ede1c9, #fef8e2 20%, #f2ebde 60%);
  background: -ms-linear-gradient(top, #ede1c9, #fef8e2 20%, #f2ebde 60%);
  background: linear-gradient(top, #ede1c9, #fef8e2 20%, #f2ebde 60%);
  transition: all 0.2s ease-in-out;
  -webkit-backface-visibility: hidden; /*prevent rotated text being jagged in Chrome and Safari*/

  @media (max-aspect-ratio: 1/1){
    width: $mobileCardWidth;
    padding-bottom: $mobileCardHeight;
  }
}

@for $i from 1 through length($cardRotations) {
  #polaroid {
    figure:nth-child(#{$i}) {
      top: nth($cardTop, $i);
      -webkit-transform: rotate(nth($cardRotations, $i));
      -moz-transform: rotate(nth($cardRotations, $i));
      -o-transform: rotate(nth($cardRotations, $i));
      -ms-transform: rotate(nth($cardRotations, $i));
      transform: rotate(nth($cardRotations, $i));
      -webkit-backface-visibility: hidden; /*prevent rotated text being jagged in Chrome and Safari*/
      -webkit-box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, 0.75);
      box-shadow: -4px 4px 8px -4px rgba(0, 0, 0, 0.75);
    }
    //Tape
    figure:nth-child(#{$i}):before {
      content: "";
      display: block;
      position: absolute;
      left: nth($tapeLeft, $i);
      top: nth($tapeTop, $i);
      width: nth($tapeWidth, $i);
      height: $tapeThicc;
      background-color: $tapeColor;
      -webkit-transform: rotate(nth($tapeRotation, $i));
      -moz-transform: rotate(nth($tapeRotation, $i));
      -o-transform: rotate(nth($tapeRotation, $i));
      -ms-transform: rotate(nth($tapeRotation, $i));
    }
    figure:nth-child(#{$i}) .img:before {
      content: "";
      display: block;
      position: absolute;
      left: nth($tape2Left, $i);
      top: nth($tape2Top, $i);
      width: nth($tape2Width, $i);
      height: $tapeThicc;
      background-color: $tapeColor;
      -webkit-transform: rotate(nth($tape2Rotation, $i));
      -moz-transform: rotate(nth($tape2Rotation, $i));
      -o-transform: rotate(nth($tape2Rotation, $i));
      -ms-transform: rotate(nth($tape2Rotation, $i));
    }
    figure:nth-child(#{$i}):hover {
      box-shadow: 1px 1px 5px 5px rgba(255, 255, 255, 0.1);
      transition: all 0.2s ease-in-out;
    }
  }
}

#polaroid figcaption {
  text-align: left;
  font-family: "Open Sans", sans-serif;
  font-size: 0.8em;
  margin: 10px 0 0 10px;
  height: 30px;
  font-weight: bolder;
  color: #454f40;
  letter-spacing: 0.09em;
}

#polaroid figure {
  -pie-background: linear-gradient(#ede1c9, #fef8e2 20%, #f2ebde 60%);
  behavior: url(assets/pie/PIE.htc);
  position: relative;
  padding-top: 10px\9;
  padding-right: 10px\9;
}

#polaroid figure .img{
    background-size:cover;
    background-position: center; 
    width: 100%;
    height: 0px;
    padding-bottom: 100%;
    //height: 250px;
}

.polaroid-container {
    margin: 0% 10%;
    display: flex;
    align-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;
    height: 100%;
}
