/*@font-face {
    font-family: "My Custom Font";
    src: url(fonts/starwars/Starjedi.ttf) format("truetype");
}*/

@font-face{
    font-family: "starwars";
    src: url(../fonts/starwars/Death Star.otf) format("truetype");
}

p { 
    font-family: "starwars", Verdana, Tahoma;
    color: #FEBE3E;
}

p.center {
    text-align: center;
}

h2 {
    font-family: "starwars", Verdana, Tahoma;
    color: #FEBE3E;
}

hr {
    font-family: "starwars", Verdana, Tahoma;
    color: #FEBE3E;
}

a {
    color: #0AF0FC;
}

.navbar-custom .nav{
  font-family: "starwars", Verdana, Tahoma;
}


/* Colors
 * #FEBE3E
 * #0AF0FC
 * #072342
 */