/*@font-face {
    font-family: "My Custom Font";
    src: url(fonts/starwars/Starjedi.ttf) format("truetype");
}*/
a {
    color: #e0a42c;
}
p.center {
    text-align: center;
}

.content-row {
    padding: 25px 50px 50px 50px;
}

.blur {
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
  -webkit-filter: url(#blur-filter);
  filter: url(#blur-filter);
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

.blur-content-section {
  width: 100%;
  background-color: rgba(7, 33, 61, 0.5);
  border-radius:5px;
}

.content-section {
  position: relative;
  margin-bottom: 30px;
  line-height: 100px;
}

.title {
  height: 100px; width: 100%; background-color: rgba(7, 33, 61, 0.5); border-radius:5px;
}

.content-title {
  margin-top:-100px; position: relative; height: 100px; width:100%; margin-bottom: 30px; line-height: 100px;

  font-size: 50px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}

.quad {
  min-height: 20vh;
}

.content-section {
  padding-top: 25px;
}
.row {
  margin-left: 0px;
  margin-right: 0px;
}

body::-webkit-scrollbar {
    width: 0.5em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background: #333;
}
 
body::-webkit-scrollbar-thumb {
  background-color: #aaa;
  outline: 1px solid slategrey;
}

.rotate90 {
}

/*@font-face{
    font-family: "starwars";
    src: url(../fonts/starwars/Death Star.otf) format("truetype");
}

p { 
    font-family: "starwars", Verdana, Tahoma;
    color: #FEBE3E;
}



h2 {
    font-family: "starwars", Verdana, Tahoma;
    color: #FEBE3E;
}

hr {
    font-family: "starwars", Verdana, Tahoma;
    color: #FEBE3E;
}

a {
    //color: #0AF0FC;
    color: #FEBE3E;
}
*/
.navbar-brand {

}

.navbar-custom .nav{
  //font-family: "starwars", Verdana, Tahoma;
}

.navbar-custom .nav li.active a {
  background-color: rgb(150,150,150);
  color: black;
  outline-color: black;
}

.navbar-custom .nav li::selection {
  color: black;
}

::selection {
    color: #166dcd; 
}

a:hover { 
    color: #166dcd;
}

.navbar-custom .nav li a:hover {
  color: #166dcd;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #FEBE3E;
    margin: 1em 0;
    padding: 0; 
}



/* Colors
 * #FEBE3E
 * #0AF0FC
 * #072342
 */