/*@font-face {
    font-family: "My Custom Font";
    src: url(fonts/starwars/Starjedi.ttf) format("truetype");
}*/

@font-face{
    font-family: "starwars";
    src: url(../fonts/starwars/Death Star.otf) format("truetype");
}

p { 
    font-family: "starwars", Verdana, Tahoma;
    color: #FEBE3E;
}

p.center {
    text-align: center;
}

h2 {
    font-family: "starwars", Verdana, Tahoma;
    color: #FEBE3E;
}

hr {
    font-family: "starwars", Verdana, Tahoma;
    color: #FEBE3E;
}

a {
    /*color: #0AF0FC;*/
    color: #FEBE3E;
}

.navbar-brand {

}

.navbar-custom .nav{
  /*font-family: "starwars", Verdana, Tahoma;*/
}

.navbar-custom .nav li.active a {
  background-color: white;
  color: black;
  outline-color: black;
}

.navbar-custom .nav li::selection {
  color: black;
}

::selection {
    color: #166dcd; 
}

a:hover { 
    color: #166dcd;
}

.navbar-custom .nav li a:hover {
  color: #166dcd;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #FEBE3E;
    margin: 1em 0;
    padding: 0; 
}



/* Colors
 * #FEBE3E
 * #0AF0FC
 * #072342
 */