$size: 15vw;
$mobileSize: 40vw;
/*$overlayBGColour: rgba(171, 147, 116, 0.8);
$textColor: rgba(255,255,255,0.75);*/
$overlayBGColour: rgba(255,255,255, 0.65);
$textColor: rgba(0,0,0,0.5);

.clip-svg {
    width: 0;
    height: 0;
}

.img-clip-block {
    font-family: "Cuprum", sans-serif;
    margin: 20px 0;
}

.img-clip-row {
    text-align: center;
}

.img-clip-wrap {
    width: $size;
    height: $size;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    clip-path: url("#clip-diamond-demo");
    cursor: pointer;
}

.overlay {
    background: $overlayBGColour;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    pointer-events: none;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.overlay-content {
    color: $textColor;
    font-weight: 400;
    font-size: 180%;
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    &.small {
        font-weight: 300;
        font-size: 120%;
    }
    &.dark {
        color: rgba(255, 255, 255, 0.6);
    }
}

.img-clip-wrap:hover .overlay {
    -webkit-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
    background: none;
}

.img-clip-img {
    display: block;
}

.img-clip-row {
    margin-top: -$size/2;
}

.img-clip-row:first-of-type {
    margin-top: auto;
}

.img-clip-wrap {
    display: inline-block;
}

@media only screen and (max-aspect-ratio: 1000/1000)
{
    .img-clip-wrap 
    {
        width: $mobileSize;
        height: $mobileSize
    }

    .img-clip-row {
        margin-top: -$mobileSize/2;
    }

    .img-clip-wrap:hover .overlay {
        -webkit-transition: none;
        transition: none;
        background: $overlayBGColour;
    }

    .img-clip-wrap:active .overlay {
        -webkit-transition: all 0.1s ease-in;
        transition: all 0.1s ease-in;
        background: none;
    }
}
