#aboutWall .paper:nth-child(1) {
  width: 25rem;
  height: 30rem;
  padding-top: 0%;
  margin: 5%;
  -webkit-transform: rotate(3deg);
  transform: rotate(3deg);
  background-color: #d8abab;
  background-image: url("/img/beige-paper.png");
}

@media (max-aspect-ratio: 1 / 1) {
  #aboutWall .paper:nth-child(1) {
    margin: 10% 5% 10% 5%;
  }
}

#aboutWall .paper:nth-child(1):before {
  display: block;
  position: absolute;
  width: 30%;
  height: 2rem;
  background-color: rgba(222, 220, 198, 0.95);
  background-image: url("/img/dust.png");
  -webkit-transform: rotate(-1deg);
  -moz-transform: rotate(-1deg);
  -o-transform: rotate(-1deg);
  -ms-transform: rotate(-1deg);
  left: 30%;
  top: -5%;
}

#aboutWall .paper:nth-child(2) {
  width: 25rem;
  height: 28rem;
  padding-top: 0%;
  margin: 5%;
  -webkit-transform: rotate(-1deg);
  transform: rotate(-1deg);
  background-color: #eee;
  background-image: url("/img/beige-paper.png");
}

@media (max-aspect-ratio: 1 / 1) {
  #aboutWall .paper:nth-child(2) {
    margin: 10% 5% 10% 5%;
  }
}

#aboutWall .paper:nth-child(2):before {
  display: block;
  position: absolute;
  width: 40%;
  height: 2rem;
  background-color: rgba(222, 220, 198, 0.95);
  background-image: url("/img/dust.png");
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  left: 75%;
  top: 0px;
}

#aboutWall .paper:nth-child(3) {
  width: 14rem;
  height: 16rem;
  padding-top: 0%;
  margin: 5%;
  -webkit-transform: rotate(8deg);
  transform: rotate(8deg);
  background-color: #eee;
  background-image: url("/img/beige-paper.png");
}

@media (max-aspect-ratio: 1 / 1) {
  #aboutWall .paper:nth-child(3) {
    margin: 10% 5% 10% 5%;
  }
}

#aboutWall .paper:nth-child(3):before {
  display: block;
  position: absolute;
  width: 63%;
  height: 2rem;
  background-color: rgba(222, 220, 198, 0.95);
  background-image: url("/img/dust.png");
  -webkit-transform: rotate(-22deg);
  -moz-transform: rotate(-22deg);
  -o-transform: rotate(-22deg);
  -ms-transform: rotate(-22deg);
  left: -15%;
  top: 0px;
}

#aboutWall .paper:nth-child(4) {
  width: 19rem;
  height: 20rem;
  padding-top: 0%;
  margin: 5%;
  -webkit-transform: rotate(2deg);
  transform: rotate(2deg);
  background-color: #aad383;
  background-image: url("/img/beige-paper.png");
}

@media (max-aspect-ratio: 1 / 1) {
  #aboutWall .paper:nth-child(4) {
    margin: 10% 5% 10% 5%;
  }
}

#aboutWall .paper:nth-child(4):before {
  display: block;
  position: absolute;
  width: 35%;
  height: 2rem;
  background-color: rgba(222, 220, 198, 0.95);
  background-image: url("/img/dust.png");
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  left: 20%;
  top: -6%;
}

#aboutWall .paper:nth-child(5) {
  width: 20rem;
  height: 16rem;
  padding-top: 0%;
  margin: 5%;
  -webkit-transform: rotate(1deg);
  transform: rotate(1deg);
  background-color: #eee;
  background-image: url("/img/beige-paper.png");
}

@media (max-aspect-ratio: 1 / 1) {
  #aboutWall .paper:nth-child(5) {
    margin: 10% 5% 10% 5%;
  }
}

#aboutWall .paper:nth-child(5):before {
  display: block;
  position: absolute;
  width: 40%;
  height: 2rem;
  background-color: rgba(222, 220, 198, 0.95);
  background-image: url("/img/dust.png");
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  left: 10%;
  top: -7%;
}

#aboutWall .paper:nth-child(6) {
  width: 18rem;
  height: 20rem;
  padding-top: 0%;
  margin: 5%;
  -webkit-transform: rotate(-3deg);
  transform: rotate(-3deg);
  background-color: #eee;
  background-image: url("/img/beige-paper.png");
}

@media (max-aspect-ratio: 1 / 1) {
  #aboutWall .paper:nth-child(6) {
    margin: 10% 5% 10% 5%;
  }
}

#aboutWall .paper:nth-child(6):before {
  display: block;
  position: absolute;
  width: 40%;
  height: 2rem;
  background-color: rgba(222, 220, 198, 0.95);
  background-image: url("/img/dust.png");
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  left: 40%;
  top: -8%;
}

#aboutWall .polaroid {
  width: 12rem;
  height: 14rem;
  padding-bottom: 1rem;
  transform: rotate(3deg);
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
}

#aboutWall .polaroid figcaption {
  font-size: 1rem;
}

#aboutWall .polaroid:before {
  content: "";
  display: block;
  position: absolute;
  width: 40%;
  height: 2rem;
  background-color: rgba(222, 220, 198, 0.95);
  background-image: url("/img/dust.png");
  left: 30%;
  top: -5%;
}

#aboutWall .paper p, #aboutWall .paper p b {
  font-size: 1.25rem;
}

.paper .note_title {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-family: 'Chilanka', cursive;
  margin-top: 1.5rem;
}

.paper .ds {
  line-height: 2rem;
}

.paper .cp {
  text-align: center;
}

.extra_tape:before {
  content: "";
  display: block;
  position: absolute;
  width: 40%;
  height: 2rem;
  background-color: rgba(222, 220, 198, 0.95);
  background-image: url("/img/dust.png");
  transform: rotate(38deg);
  -webkit-transform: rotate(38deg);
  -moz-transform: rotate(38deg);
  -o-transform: rotate(38deg);
  -ms-transform: rotate(38deg);
  left: -12%;
  top: 90%;
}

@media (max-aspect-ratio: 1 / 1) {
  .mobile_hide {
    display: none;
  }
}
/*# sourceMappingURL=about.css.map */