

.textContainer { 
    height: 345px; 
    line-height: 340px;
}

.textContainer p {
    vertical-align: middle;
    display: inline-block;
}

.vertical-center {
    display: inline-block;
    vertical-align: middle;
    float: none;
}