
.skills {
	float: left;
	clear: right;
	width: 100%;
	margin: 5px 0px 30px 0px;
}

.progress-row {
	height: 20px;
}

.progress-head {
	clear: right;
	text-align: left;
	font-weight: 600;
	line-height: 20px;
	padding: 0px;
}

.progress-bottom {
	float: left;
	clear: right;
	width: 100%;	
}

.col-bar {
	padding-right: 0px;
}

.progress {
	padding: 0px;
}

.c, .java, .css, .c-sharp, .python {

}

.c.in-view {
	width: 100%;
}
.java.in-view {
	width: 100%;
}
.css.in-view {
	width: 90%;
}
.c-sharp.in-view {
	width: 85%;
}
.python.in-view {
	width: 75%;
}


.in-view {
    -webkit-transition: width 1.4s ease !important;
    -moz-transition: width 1.4s ease !important;
    -o-transition: width 1.4s ease !important;
    transition: width 1.4s ease !important;
 }